*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: rgb(150, 0, 0);
    height: 100%;
}


#grey {
    background-color: rgb(20, 20, 20);
    padding-top: 5%;
    display: flex;
    justify-content: center;
}


#red {
    background-color: rgb(150, 0, 0);
    height: 70vh;
    display: flex;
    justify-content: center;
}


#aboutus {
    color: white;
    font-family: Verdana, Geneva, sans-serif; 
    padding-left: 45px;
    padding-top: 45px;
}

#header {
    align-self: flex-end;
}

#master {
    margin: auto;
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;    
}

nav ul {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    text-align: center;
    background-color: black;
}

.borL {
    border-left: 1px solid white;
}


nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    border-bottom: 1px solid white;
}


a:hover {
    background-color: rgb(75, 75, 75);
    transition: 0.3s;
}



#pageImage {
    background-image: url("slike/page.jpg");
    background-size: cover;
    background-position: center;
    height: 65vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#masterPage {
    background-color: black; opacity: 0.6;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

#textHedera {
    background-color: rgb(230, 230, 230);
    height: 90px;
    display: flex;
    
}

label, p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}



form input, textarea {
    width: 100%;
    height: 25px;
    border-radius: 8px;
    border: 1px solid  rgb(20, 20, 20);
    margin: 1vh;
}

textarea {
    height: 150px;
}

fieldset {
    border: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
}

#contacttext {
    padding: 35px;
}

[class*="col-"]{
    float: left;
}


/* Za mobilne telefone */
[class*="col-"]{
    width: 100%;
}


/* Za desktop */
@media only screen and (min-width: 700px){
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 88.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}


@media only screen and (max-width: 700px) {
    .hidden-border {
        border-left: 0px;
    }

}